.ce-block .cdx-query-url {
  display:               grid;
  grid-template-areas: "method url";
  grid-template-columns: auto 1fr;
}

.ce-block .cdx-query-url [contentEditable=true][data-placeholder]:empty::before {
  color:   rgb(150, 150, 150);
  opacity: 1;
}

.ce-block .cdx-query-url [contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.ce-block .cdx-query-url__url {
  background-color:          rgb(50, 50, 50);
  border-bottom-left-radius: 0;
  border-top-left-radius:    0;
  border-width:              0;
  color:                     rgb(246, 246, 246);
  font-size:                 1.1rem;
  grid-area:                 url;
  text-transform:            lowercase;
}

.ce-block .cdx-query-url__method {
  background-color:           rgb(43, 138, 255);
  border-bottom-right-radius: 0;
  border-top-right-radius:    0;
  border-width:               0;
  color:                      rgb(246, 246, 246);
  font-size:                  1.1rem;
  grid-area:                  method;
  min-width:                  70px;
  text-transform:             uppercase;
  width:                      auto;
}